*{
    margin:0;
    padding:0;
    margin-block-start: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:    -apple-system, BlinkMacSystemFont, 'Segoe UI', 
                    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
                    'Helvetica Neue', sans-serif;
    background-image: url("../img/about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.body.abo{
    background-image: url("../img/about.jpg");
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
}
.body.edu{
    background-image: url("../img/edu.jpg");
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
}
.body.exp{
    background-image: url("../img/about.jpg");
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
}
.body.pro{
    background-image: url("../img/about.jpg");
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
}
.body.ski{
    background-image: url("../img/skills.jpg");
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
}
.body.con{
    background-image: url("../img/contact.jpg");
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
}
.container{
    width: 60%;
    margin: auto;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #66a6ff;
}

/* ############################################################# */
/* ##################### Topnav / + footer ##################### */
/* ############################################################# */

.topnav{
    position: fixed;
    top: 0px;
    z-index: 1;
    border-radius: 10px;
    background:linear-gradient(90deg, #89f7fe 0%,#66a6ff 100% );
    text-align: center;
    padding: 1px 0;
    width: 60%;
}

.topnav:hover{
    background:linear-gradient(90deg, #66a6ff 0%,#89f7fe 100% );
}
.topnav a{
    display: inline-block;
    font-weight: 700;
    padding: 8px 24px; 
    margin-top: 0;
}
.topnav .icon {
    display: none;
}
#footer{
    position: fixed;
    bottom: 10px;
    z-index: 1;
    background:linear-gradient(90deg, #89f7fe 0%,#66a6ff 100% );
    border-radius: 10px;
    text-align: center;
    padding: 1px 0 8px 0;
    width: 60%;
}
#footer:hover{
    background:linear-gradient(90deg, #66a6ff 0%,#89f7fe 100% );
}
#footer a{
    margin: 0 20px;
    font-size: medium;
}
/* ############################################################# */
/* ####################### Main content ######################## */
/* ############################################################# */

.content{
    margin-top: 42px;
}
#avt{
    width: 49%;
    height: fit-content;
    padding: 20px;
    background-color:rgba(255, 255, 255, 0.7);
    text-align: center;
    position: relative;
    float: left;
    display: inline;
    border-radius: 16px;
}
#avt img{
    display: block;
    margin: auto;
    width: 92%;
    border-radius: 100%;
}
#avt p{
    font-size: larger;
    margin: 20px 0;
}
#avt div{
    width: 92%;
    padding: 10px 0;
    margin: auto;
    background:linear-gradient(90deg, #89f7fe 0%,#66a6ff 100% );
    font-size: small;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
}
#avt div:hover{
    background:linear-gradient(90deg, #66a6ff 0%,#89f7fe 100% );
}
.bio{
    padding: 7px 20px;
    width: fit-content;
    background-color:rgba(255, 255, 255, 0.7);
    font-size: large;
    border-radius: 6px;
}
.bio:hover, #avt:hover{
    background-color:rgba(255, 255, 255, 0.9);
}
.bio.full{
    width: 100%;
}
.bio.about{
    width: 49%;
    padding: 20px;
    position: relative;
    float: right;
    display: inline;
    border-radius: 16px;
}
.clear{
    clear: both;
}
.mark-h3{
    align-self: flex-end;
    text-align: center;
    width: 120px;
    padding: 4px 0;
    background:linear-gradient(90deg, #89f7fe 0%,#66a6ff 100% );
    border-radius: 6px;
}
.content h3:hover{
    background:linear-gradient(90deg, #66a6ff 0%,#89f7fe 100% );
}

.left{
    float: left;
    width: 49%;
    padding: 7px;
}
.right{
    float: right;
    width: 49%;
    padding: 7px;
}
.inline{
    display: inline-block;
    margin-right: 10px;
}
.bio h4{
    margin-left: 20px;
}
.bio ul{
    margin: 0 0 10px 40px;
}
#contact input[type=text], #contact select, #contact textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
#contact textarea{
    height: 200px;
}
#contact input[type=submit] {
    background:linear-gradient(90deg, #89f7fe 0%,#66a6ff 100% );
    color: black;
    font-weight: 700;
    padding: 8px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
#contact input[type=submit]:hover {
    background:linear-gradient(90deg, #66a6ff 0%,#89f7fe 100% );
}
#contact{
    margin-bottom: 58px;
}
.mark-h3.long{
    width: 220px;
}
/* ############################################################# */
/* ######################### Reponsive ######################### */
/* ############################################################# */
@media screen and (max-width: 1200px){
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a:first-child{
        float: left;   
    }
    .topnav a.icon {
        display: block;
        float: right;
        margin-top: -6px;
    }
    .topnav.responsive {
        position: fixed;
        top: 0;
        opacity: 0.9;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {	
      float: none;
      display: block;
      text-align: left;
    }
}
@media screen and (max-width: 1050px){
    .container, .topnav, #footer{
        width: 90%;
    }
}

@media screen and (max-width: 700px){
    #avt{
        float: none;
        display: block;
        margin: auto;
        margin-top: 50px;
        width: 100%;
    }
    #about-me .bio, #projects .bio, #exp .bio{
        clear: both;
        width: 100%;
    }
    #footer span{
        display: none;
    }
}
